.CSSList
{
  color:blue;
  margin-left: 25%;
  margin-right: 25%;
}
.LISTCSS
{
  list-style-type: upper-roman;
  margin-left: 25%;
  margin-right: 25%;
}

#backgroundexample
{
  background-color: red;
}
